<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/cities?verifyServerCertificate=false&amp;useSSL=false&amp;allowPublicKeyRetrieval=true&amp;requireSSL=false&amp;serverTimezone=UTC&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.username">root</property>
        <property name="connection.password">1234</property>
        <!-- JDBC connection pool (use the built-in) -->
        <!--<property name="connection.pool_size">1</property> -->

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Echo all executed SQL to stdou -->
        <property name="show_sql">true</property>


        <mapping resource="ru/javastudy/springMVC/model/CityEntity.hbm.xml"/>
        <mapping class="ru.javastudy.springMVC.model.CityEntity"/>
        <mapping resource="ru/javastudy/springMVC/model/CountryEntity.hbm.xml"/>
        <mapping class="ru.javastudy.springMVC.model.CountryEntity"/>
        <mapping resource="ru/javastudy/springMVC/model/CountrylanguageEntity.hbm.xml"/>
        <mapping class="ru.javastudy.springMVC.model.CountrylanguageEntity"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>